<div class="container">
  <div class="navigation" style="padding-left: 10px;">
    <ul>
      <li>
        <a href="#">
          <span class="icon">
            <img class="flower shape" src="../../assets/images/logo.png" alt="" width="50px" height="50px">
          </span>
          <span class="title" style="font-size: 1.2rem;color: white;font-weight: bolder;">Auto Bug Reporter</span>
        </a>
      </li>
      <li>
        <a routerLink="/dash-board">
          <span class="icon">
            <ion-icon name="home"></ion-icon>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/log-details">
          <span class="icon">
            <ion-icon name="bug-outline"></ion-icon>
          </span>
          <span class="title">Errors</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <span class="icon">
            <ion-icon name="settings"></ion-icon>
          </span>
          <span class="title">Settings</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <span class="icon">
            <ion-icon name="help-circle-outline"></ion-icon>
          </span>
          <span class="title">Help</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <span class="icon">
            <ion-icon name="log-out"></ion-icon>
          </span>
          <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>`
  </div>

  <router-outlet></router-outlet>
</div>